{% raw %}

{# (not yet changed with respect to default email) #}

{% extends 'ace_common/edx_ace/common/base_body.html' %}

{% load django_markup %}
{% load i18n %}
{% load static %}
{% block content %}
<table width="100%" align="left" border="0" cellpadding="0" cellspacing="0" role="presentation">
{% if route_enabled %}
    <tr>
        <td>
            <p style="color: rgba(0,0,0,.75);">
                {% filter force_escape %}
                    {% blocktrans %}This is a routed Account Activation email for {{ routed_user }} ({{ routed_user_email }}): {{ routed_profile_name }}{% endblocktrans %}
                {% endfilter %}
                <br />
            </p>
        </td>
    </tr>
{% endif %}
    <tr>
        <td>
            <h1>
                {% trans "Account Activation" as header_msg %}{{ header_msg | force_escape }}
            </h1>
            <p style="color: rgba(0,0,0,.75);">
                {% filter force_escape %}
                    {% blocktrans %}You're almost there! Use the link below to activate your account to access engaging, high-quality {{ platform_name }} courses. Note that you will not be able to log back into your account until you have activated it.{% endblocktrans %}
                {% endfilter %}
                <br />
            </p>

            {% filter force_escape %}
                {% blocktrans asvar course_cta_text %}Activate Your Account{% endblocktrans %}
            {% endfilter %}
            {% include "ace_common/edx_ace/common/return_to_course_cta.html" with course_cta_text=course_cta_text course_cta_url=confirm_activation_link %}
        </td>
    </tr>
    <tr>
        <td>
            <p style="color: rgba(0,0,0,.75);">
                {% filter force_escape %}
                    {% blocktrans %}Enjoy learning with {{ platform_name }}.{% endblocktrans %}
                {% endfilter %}
                <br />
            </p>
        </td>
    </tr>
        <td>
            <p style="color: rgba(0,0,0,.75);">
                {% blocktrans trimmed asvar assist_msg %}
                If you need help, please email {start_anchor_email}{{ support_email }}{end_anchor}.
                {% endblocktrans %}
                {% interpolate_html assist_msg start_anchor_web='<a href="'|add:support_url|add:'">'|safe start_anchor_email='<a href="mailto:'|add:support_email|add:'">'|safe end_anchor='</a>'|safe %}
                <br />
            </p>
        </td>
    <tr>

    </tr>
    <tr>
        <td>
            <p style="color: rgba(0,0,0,.75);">
                {% filter force_escape %}
                    {% blocktrans %}This email message was automatically sent because someone attempted to create an account on {{ platform_name }} using this email address.{% endblocktrans %}
                {% endfilter %}
                <br />
            </p>
        </td>
    </tr>
</table>
{% endblock %}

{% endraw %}
