<style>
  section.courses .courses-listing-item { vertical-align: top; }
  .main-container .courses-container > .woon-text {
    width: 40%;
    margin: auto;
    /* matches margin-bottom of the highlighted courses section */
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 1.3em;
    font-family: 'DINPro Regular';
  }
</style>

<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<%! from django.utils.translation import ugettext as _ %>

<section class="courses-container">
	% if not user.is_authenticated:
          <div class='woon-text'>
            Om deel te nemen aan deze cursus moet u zich registreren en daarna
            inloggen. Klik hiervoor op een van de knoppen rechtsboven. Aanmelden
            doet u met uw e-mailadres en een zelf gekozen wachtwoord. Bewaar de
            gegevens, hiermee kunt u gebruik maken van het gehele aanbod.
          </div>
        % endif

  <section class="highlighted-courses">

    % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
      <section class="courses">
        <ul class="courses-listing">
          ## limiting the course number by using HOMEPAGE_COURSE_MAX as the maximum number of courses
          %for course in courses[:homepage_course_max]:
          <li class="courses-listing-item">
              <%include file="course.html" args="course=course" />
          </li>
        %endfor
        </ul>
      </section>
    ## in case there are courses that are not shown on the homepage, a 'View all Courses' link should appear
      % if homepage_course_max and len(courses) > homepage_course_max:
      <div class="courses-more">
        <a class="courses-more-cta" href="${marketing_link('COURSES')}"> ${_("View all Courses")} </a>
      </div>
    % endif
    % endif

  </section>
</section>
