<style>
  .course-date { display: none; }
</style>

<%def name="online_help_token()"><% return "course" %></%def>
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse
from six import text_type
from common.djangoapps.student.models import CourseEnrollment
%>
<%page args="course" expression_filter="h"/>
<%
enrolled = CourseEnrollment.is_enrolled(user, course.id)
%>
<article class="course" id="${course.id}" role="region" aria-label="${course.display_name_with_default}">
<%
def clss(*xs):
    ys = [x for x in xs if x]
    return ' '.join(ys)

course_info_cls = clss(
    'course-info',
    enrolled and 'x--enrolled',
)
%>
  <a href="${reverse('about_course', args=[text_type(course.id)])}">
    <header class="course-image">
      <div class="cover-image">
        <img src="${course.course_image_url}" alt="${course.display_name_with_default} ${course.display_number_with_default}" />
        <div class="learn-more" aria-hidden="true">${_("LEARN MORE")}</div>
      </div>
    </header>
    <div class="${course_info_cls}" aria-hidden="true">
      <h2 class="course-name">
        <span class="course-organization">${course.display_org_with_default}</span>
        <span class="course-code">${course.display_number_with_default}</span>
        <span class="course-title">${course.display_name_with_default}</span>
      </h2>
      <%
      if course.start is not None:
          course_date_string = course.start.strftime('%Y-%m-%dT%H:%M:%S%z')
      else:
          course_date_string = ''
      %>
      % if course.advertised_start is not None:
          <div class="course-date" aria-hidden="true">${_("Starts")}: ${course.advertised_start}</div>
      % else:
          <div class="course-date localized_datetime" aria-hidden="true" data-format="shortDate" data-datetime="${course_date_string}" data-language="${LANGUAGE_CODE}" data-string="${_("Starts: {date}")}"></div>
      % endif
      <div class='enrolled'>
        ${_("enrolled")}
      </div>
    </div>
    <div class="sr">
      <ul>
        <li>${course.display_org_with_default}</li>
        <li>${course.display_number_with_default}</li>
        % if course.advertised_start is not None:
            <li>${_("Starts")}: <time itemprop="startDate">${course.advertised_start}</time></li>
        % else:
            <li>${_("Starts")}: <time class="localized_datetime" itemprop="startDate" data-format="shortDate" data-datetime="${course_date_string}" data-language="${LANGUAGE_CODE}"></time></li>
        % endif
      </ul>
    </div>
  </a>
</article>
<%static:require_module_async module_name="js/dateutil_factory" class_name="DateUtilFactory">
    DateUtilFactory.transform(iterationKey=".localized_datetime");
</%static:require_module_async>
