<%namespace name='static' file='static_content.html'/>
<style>
  .content-wrapper .home > header {
    background-image: url(${static.url('images/woon-bakfiets.png')});
  }
</style>
<div class='woon-logo'>
  <img src="${static.url('images/woon-logo-large-transparent.png')}"/>
</div>
<!--h1>${settings.PLATFORM_NAME}</h1-->
