<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>
<%!
import six

from django.utils.translation import ugettext as _
from django.urls import reverse
from django.conf import settings
from six import text_type
from six.moves.urllib.parse import quote as url_quote, quote_plus as url_quote_plus

from openedx.core.djangoapps.models.course_details import CourseDetails
%>

<header>

  % if static.get_value('course_about_show_social_links', True):
  <div class="social-sharing">
      <%
        site_domain = static.get_value('site_domain', settings.SITE_NAME)
        site_protocol = 'https'
        platform_name = static.get_platform_name()

        course_details = CourseDetails.fetch(course.id)

        share_url = u'{protocol}://{domain}{path}'.format(
            protocol=site_protocol,
            domain=site_domain,
            path=reverse('about_course', args=[text_type(course.id)]),
        )

        tweet_text = (
            u'Ik zag een interessante cursus bij !WOON ({account}). Iets voor jou?\n\n“{title}”\n\n{url}'
        ).format(
            title=course.display_name_with_default,
            account=static.get_value('course_about_twitter_account', settings.PLATFORM_TWITTER_ACCOUNT),
            url=share_url,
        )
        tweet_action = u'https://twitter.com/intent/tweet?text={tweet_text}'.format(
            tweet_text=url_quote_plus(tweet_text.encode('UTF-8')),
        )

	# --- not using -- this info is repeated anyway.
        facebook_quote = u'{platform}: {desc}'.format(
            platform=platform_name,
            desc=course_details.short_description,
        )

        facebook_action=u'https://facebook.com/sharer.php?u={url}'.format(
            url=url_quote_plus(share_url),
        )

        email_body = u'Ik zag een interessante cursus bij !WOON. Iets voor jou?\n\n“{title}”\n\n{url}'.format(
            title=course.display_name_with_default,
            url=share_url,
        )

        email_subject = u'Cursus bij !WOON'
        email_link = u'mailto:?subject={subject}&body={body}'.format(
            subject=url_quote(email_subject),
            body=url_quote(email_body),
        )

        linkedin_action= u'https://www.linkedin.com/sharing/share-offsite/?url={url}'.format(
            url=url_quote_plus(share_url),
        )

      %>
      <a target="_blank" href="${tweet_action}" class="share">
        <span class="icon fa fa-twitter" aria-hidden="true"></span><span class="sr">${_("Tweet that you've enrolled in this course")}</span>
      </a>
      <a target="_blank" href="${facebook_action}" class="share">
        <span class="icon fa fa-thumbs-up" aria-hidden="true"></span><span class="sr">${_("Post a Facebook message to say you've enrolled in this course")}</span>
      </a>
      <a target="_blank" href="${email_link}" class="share">
        <span class="icon fa fa-envelope" aria-hidden="true"></span><span class="sr">${_("Email someone to say you've enrolled in this course")}</span>
      </a>
      <a target="_blank" href="${linkedin_action}" class="share">
        <span class="icon fa fa-linkedin" aria-hidden="true"></span><span class="sr">${_("Go to LinkedIn")}</span>
      </a>
  </div>
  % endif
</header>
