$content_padding_top: 24px;
$content-padding-bottom: 10px;
$header-height: 75px;
$footer-height: 125.5px;

body, body.view-profile {
  min-height: initial;
  background-color: #fff;
}

%btn-pl-default-base {
  border-radius: 0;
}

.btn, .global-header .nav-links .secondary .btn {
  border-radius: 0;
}

%t-title {
  font-family: $font-family-title;
}

h1, h2, h3, h1 span, h2 span, h3 span, .nav-item {
  font-family: $font-family-title;
}

#content.content-wrapper {
  @include media-breakpoint-up(lg) {
    padding-top: $content-padding-top;
    padding-bottom: $content-padding-bottom;
    margin-top: $header-height;
  }
  min-height: calc(100vh - #{$header-height + $content-padding-top + $content-padding-bottom + $footer-height});
}

@import "fonts";

header.global-header {
  @include media-breakpoint-up(lg) {
    position: fixed;
    top: 0;
    z-index: 200;
    overflow: visible;
  }
  box-shadow: none;
}

header.global-header .nav-links .secondary .user-image-frame {
  border-radius: 0;
}

header.global-header .nav-links .secondary .dropdown-user-menu {
  position: fixed;
}

.login-register .form-field {
  button.enterprise-login {
    display: none;
  }
}

.home header {
  box-shadow: none;
  background-color: #fff;
}

.home > header .title {
  box-shadow: none;
}

.home > header .outer-wrapper {
  padding: 0;
}

.home > header .title > .heading-group {
  width: 100%;
  text-align: center;
}
.home > header .title > .heading-group h1 {
  text-align: center;
}

.animation-home-header-pop-up, .home > header .outer-wrapper {
  animation: none;
}

.highlighted-courses .courses, .find-courses .courses {
  padding-top: 0;
}

.dashboard .main-container {
  padding: initial;
}

nav.wrapper-preview-menu {
  @include media-breakpoint-up(lg) {
    margin-top: $header-height;
  }
}

.course-info {
  .course-sidebar .important-dates li .icon {
    margin-top: 0px !important;
  }
  .container {
    padding-bottom: 0;
  }
  .details .inner-wrapper > section {
    margin-bottom: 0;
  }
  header.course-profile {
    background: #fff;
    box-shadow: none;
    border-bottom: none;

    .intro-inner-wrapper {
      border: none;
      box-shadow: none;
    }
    .intro-inner-wrapper .intro .main-cta {
      span.register {
  @extend %t-copy-base;
  padding: 10px 0;
      }
      strong {
  background-image: none;
  border-radius: 0;
  &:hover:not(:disabled) {
    background-image: none;
  }
      }
    }
  }
}

.find-courses, .university-profile {
  background-color: #fff;
}

.home .courses-container .courses .courses-listing {
  text-align: center;
}

.home .courses-container .courses .courses-listing .courses-listing-item {
  float: none;
  display: inline-block;
}

.view-profile .profile-self .wrapper-profile-field-account-privacy {
  margin-top: -$content-padding-top;
}
.view-profile .wrapper-profile {
  background-color: #fff;
}

.view-profile .wrapper-profile-section-container-one .wrapper-profile-section-one {
  border: solid $primary;
  border-width: 5px 1px 1px 1px;
}

.wrapper-account-settings .wrapper-header {
  height: 100px;
}
.wrapper-account-settings .wrapper-header .header-title {
  padding-top: 0;
}
.wrapper-account-settings .wrapper-header .account-nav button.active {
  border-bottom-color: $primary;
}

.wrapper-footer {
  box-shadow: none;
  padding: 25px 40px;

  .wrapper-logo {
    display: none;
  }
  .copyright {
    display: none;
  }
  .nav-legal ul {
    display: inline-block;
  }
  footer#footer-openedx .footer-about-openedx {
    a {
        float: none;
    }
    p {
        text-align: right;
    }
    img.x__tutor {
        height: 18px;
    }
    img.x__openedx {
        width: 80px;
    }
  }
}

.content-wrapper {
  padding: 0px;
  .home > header {
    background-attachment: fixed;
    background-position: 15% 9%;
    background-size: 174%;
    background-repeat: no-repeat;
    position: relative;
    .title {
      background: white;
      > .heading-group {
        position: relative;
      }
      .woon-logo {
        max-width: 400px;
        white-space: nowrap;
        img {
          width: 100%;
        }
	position: relative;
	left: 50%;
	transform: translateX(-50%);
      }
    }
    .outer-wrapper {
      max-width: initial;
      background-color: rgba(0, 0, 0, 0.65);
    }
    /* --- mobile */
    @media screen and (max-width: 768px) {
      .outer-wrapper {
        padding: 50px;
      }
      .title {
        .woon-logo {
        }
      }
    }
    /* --- not mobile */
    @media screen and (min-width: 768px) {
      .title {
	float: none;
        margin: auto;
        width: 40%;
      }
    }
  }
}

.courses-container {
  padding: 0 60px;
}

.ac-overview .header {
  text-decoration: underline;
}

.course-info.x--enrolled {
}
.course-info.x--enrolled .enrolled {
  display: block;
}
.enrolled {
  display: none;
  position: absolute;
  bottom: 14%;
  left: 50%;
  transform: translateX(-50%);
  background: #1b8e16;
  color: white;
  padding: 10px 40px;
}

.xmodule_display.xmodule_ProblemBlock div.problem {
  .choicegroup {
    input[type="radio"] {
      height: 15px !important;
      width: 15px !important;
    }
    .indicator-container {
      display: none !important;
    }
  }
  .feedback-hint-correct {
    border: 2px solid goldenrod;
    padding: 10px;
    width: 400px;
    .hint-text {
      margin-top: 10px;
    }
  }
  .feedback-hint-incorrect {
    .hint-label::before {
      content: '✘';
      color: #b20610;
      padding-right: 5px;
    }
  }
  .feedback-hint-correct {
    .hint-label::before {
      content: '✔';
      color: #2c6b2c;
      padding-right: 5px;
    }
  }
  .feedback-hint-correct, .feedback-hint-incorrect {
    .explanation-title {
      display: none;
    }
    .hint-label {
      font-weight: bold;
    }
  }
}

nav.wrapper-course-material {
  display: none;
}

div.xmodule_ProblemBlock h3.header {
  display: none;
}

.find-courses {
  .search-facets {
    display: none;
  }
  .wrapper-search-context {
    .search-status-label {
      font-size: 25px;
    }
  }
  button.clear-filters {
    display: none;
  }
}

form#register.register-form {
  div.text-name {
    // "This name will be used on any certificates that you earn"
    span.tip.tip-input {
      display: none;
    }
  }
}

div.wrapper-profile {
  div.wrapper-profile-sections {
    // Certificates
    div.learner-achievements {
      display: none;
    }
    // Bio: difficult to localise etc.
    .u-field-date_joined, .u-field-country, .u-field-language_proficiencies {
      display: none;
    }
  }
}

div.wrapper-account-settings {
  .account-settings-container {
    div.account-nav {
      display: none;
    }
    .account-settings-sections {
      .account-settings-header-subtitle {
        display: none;
      }
      .account-settings-section-body {
        // Lichtgrijze uitlegtekstjes
        span#u-field-message-username.u-field-message,
        span#u-field-message-name.u-field-message,
        span#u-field-message-email.u-field-message,
        span#u-field-message-pref-lang.u-field-message,
        span#u-field-message-country.u-field-message,
        span#u-field-message-time_zone.u-field-message {
          display: none;
        }

        // Onnodige velden
        .u-field-level_of_education, 
        .u-field-gender,
        .u-field-pref-lang,
        .u-field-language_proficiencies,
        .u-field-country,
        .u-field-time_zone {
          display: none;
        }

        .u-field-social_links .u-field-message {
          display: none;
        }
      }
      .delete-confirmation-wrapper {
        .alert-dialog .alert-content {
          p {
            display: none;
          }
        }
        .paragon__form-group {
          label {
            display: none;
          }
        }
      }
    }
  }
}
