$primary: rgb(41, 35, 99);

$font-family-title: 'DINPro Regular', sans-serif;
$serif: 'DINPro Regular', serif;
$f-sans-serif: 'DINPro Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;

@import 'edx-bootstrap/sass/open-edx/theme';
