.home>header .outer-wrapper {
    animation: none;
}

@keyframes woon-logo-shape-main {
    0% {
        transform: rotateY(-180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

@keyframes woon-logo-text-main {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.woon-logo-shape {
    width: 32%;

    /* --- initial values */
    transform: rotateY(-180deg);
    animation: woon-logo-shape-main 500ms;

    animation-iteration-count: 1;
    /* --- maintain the last value */
    animation-fill-mode: forwards;
}

.woon-logo-text {
    width: 67%;

    left: -10%;

    /* --- initial values */
    opacity: 0;

    position: relative;
    animation: woon-logo-text-main 500ms;
    animation-delay: 200ms;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(1.000, 1.540, 0.545, 0.780);
    /* --- maintain last value */
    animation-fill-mode: forwards;
}
